<link rel="stylesheet" href="css/style.css">
<h1>
<img src="http://www.minedminds.org/images/logo.png" alt="Mined Minds" style="width:100px;height:100px";>
<a href="https://minedminds.org">Mined Minds Foundation</a>
<a href="https://github.com/jackwhitener">My Github</a>
</h1>
<b>
Please enter your cents: <br>
<form method = 'post' action = '/home'>
<input type = 'number' name = 'coin' value = '' required><br>
<input type = 'submit' value = 'Calculate'>
</form>
</b>