<style>
h1 {text-align:left;font-size:20;}
body {
    background-image: url("https://r.hswstatic.com/w_907/gif/now-TwuUAjsF-coins_chuckcross_eyeem_gettyimagesjpg-1210-680.jpg");
    background-size:100% 100%;

    color:white;
    font-size:30;
    text-align:center;
}
</style>
<h1>
<a href="https://minedminds.org">Mined Minds Foundation</a>
<br>
<a href="https://github.com/jackwhitener">My Github</a>
</h1>
You entered: <%= coin %> cents
Your change:<br>
<% change.each do |coinage| %>
<%= coinage.last %>
<% if coinage.last == 1 %>
	<% if coinage.first == "Pennies" %>
		Penny
	<%elsif coinage.first == "Nickels"%>
		Nickel
	<%elsif coinage.first == "Dimes"%>
		Dime
	<%elsif coinage.first == "Quarters"%>
		Quarter
	<%elsif coinage.first == "Halfdollars"%>
		Halfdollar
	<%elsif coinage.first == "Dollars"%>
		Dollar
	<%end%>
	<br>
	<%elsif coinage.last > 1%>
	<% if coinage.first == "Pennies" %>
		Pennies
	<%elsif coinage.first == "Nickels"%>
		Nickels
	<%elsif coinage.first == "Dimes"%>
		Dimes
	<%elsif coinage.first == "Quarters"%>
		Quarters
	<%elsif coinage.first == "Halfdollars"%>
		Halfdollars
	<%elsif coinage.first == "Dollars"%>
		Dollars
	<%end%>
<%end%>
<%end%>
<br>
<input id="buttons" type = "button" value = "Restart" onClick = "location.href='/'">