<link rel="stylesheet" href="css/style.css">
<h1>
<img src="http://www.minedminds.org/images/logo.png" alt="Mined Minds" style="width:100px;height:100px";>
<a href="https://minedminds.org">Mined Minds Foundation</a>
<a href="https://github.com/jackwhitener">My Github</a>
</h1>
You entered: <%= coin %> cents
Your change:<br>
<% change.each do |coinage| %>
<%= coinage.last %>
<% if coinage.last == 1 %>
	<% if coinage.first == "Pennies" %>
		Penny
	<%elsif coinage.first == "Nickels"%>
		Nickel
	<%elsif coinage.first == "Dimes"%>
		Dime
	<%elsif coinage.first == "Quarters"%>
		Quarter
	<%elsif coinage.first == "Halfdollars"%>
		Halfdollar
	<%elsif coinage.first == "Dollars"%>
		Dollar
	<%end%>
	<br>
	<%elsif coinage.last > 1%>
	<% if coinage.first == "Pennies" %>
		Pennies
	<%elsif coinage.first == "Nickels"%>
		Nickels
	<%elsif coinage.first == "Dimes"%>
		Dimes
	<%elsif coinage.first == "Quarters"%>
		Quarters
	<%elsif coinage.first == "Halfdollars"%>
		Halfdollars
	<%elsif coinage.first == "Dollars"%>
		Dollars
	<%end%>
	<br>
<%end%>
<%end%>
<br>
<input id="buttons" type = "button" value = "Restart" onClick = "location.href='/'">